<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd"
       xmlns:p="http://www.springframework.org/schema/p"
       default-init-method="init">

    <context:annotation-config/>

    <util:map id="instrumentSounds">
        <entry key="GUITAR" value="#{T(com.springinaction.springidol.instruments.InstrumentSound).GUITAR}"/>
        <entry key="CYMBAL" value="#{T(com.springinaction.springidol.instruments.InstrumentSound).CYMBAL}"/>
        <entry key="HARMONICA" value="#{T(com.springinaction.springidol.instruments.InstrumentSound).HARMONICA}"/>
        <entry key="SAXOPHONE" value="#{T(com.springinaction.springidol.instruments.InstrumentSound).SAXOPHONE}"/>
        <entry key="PIANO" value="#{T(com.springinaction.springidol.instruments.InstrumentSound).PIANO}"/>
    </util:map>

    <bean id="duke" class="com.springinaction.springidol.performers.Juggler">
        <constructor-arg name="email" value="duke@gmail.com"/>
        <constructor-arg name="beanBags" value="15"/>
    </bean>

    <bean id="toby" class="com.springinaction.springidol.performers.KnifeJuggler">
        <constructor-arg value="toby@gmail.com"/>
    </bean>

    <bean id="poeticDuke" class="com.springinaction.springidol.performers.PoeticJuggler">
        <constructor-arg name="email" value="poeticDuke@gmail.com"/>
        <constructor-arg name="beanBags" value="#{4 * 5}"/>
    </bean>

    <bean id="kenny" class="com.springinaction.springidol.performers.Instrumentalist"
          p:song="#{songSelector.selectSong()?.toUpperCase() == 'JINGLE BELLS' ? 'not gonna sing jingle bells!' : 'my song'}"
          p:age="37" p:instrument="#{saxophone}">
        <constructor-arg value="kenny@gmail.com"/>
    </bean>

    <bean id="kenny2" class="com.springinaction.springidol.performers.Instrumentalist"
          p:song="#{songSelector.selectSong()?.toUpperCase()}" p:instrument="#{piano}">
        <constructor-arg value="kenny2@gmail.com"/>
    </bean>

    <bean id="eddie" class="com.springinaction.springidol.performers.EddieInstrumentalist"
          p:song="#{songSelector.selectSong()?.toLowerCase()}" p:age="#{kenny.age}">
        <constructor-arg value="eddie@gmail.com"/>
    </bean>

    <bean id="carl" class="com.springinaction.springidol.performers.Instrumentalist"
          p:song="#{songSelector.selectSong()?.toUpperCase()}" p:age="#{kenny.age}"
          p:instrument="#{kenny.instrument}">
        <constructor-arg value="carl@gmail.com"/>
    </bean>

    <bean id="hank" class="com.springinaction.springidol.performers.OneManBand">
        <constructor-arg value="hank@gmail.com"/>
        <property name="instruments">
            <map>
                <entry key="GUITAR" value="#{guitar}"/>
                <entry key="CYMBAL" value="#{cymbal}"/>
                <entry key="HARMONICA" value="#{harmonica}"/>
            </map>
        </property>
    </bean>

    <bean id="hank2" class="com.springinaction.springidol.performers.OneManLightBand">
        <constructor-arg value="hank2@gmail.com"/>
        <property name="instrumentSounds">
            <map>
                <entry key="GUITAR"
                       value="#{instrumentSounds['GUITAR'].getSound()}"/>
                <entry key="CYMBAL"
                       value="#{instrumentSounds['CYMBAL'].getSound()}"/>
                <entry key="HARMONICA"
                       value="#{instrumentSounds['HARMONICA'].getSound()}"/>
            </map>
        </property>
    </bean>

    <bean id="hank3" class="com.springinaction.springidol.performers.OneManLighterBand">
        <constructor-arg value="hank3@gmail.com"/>
        <property name="instrumentSounds">
            <props>
                <prop key="GUITAR">#{instrumentSounds['GUITAR'].getSound()}</prop>
                <prop key="CYMBAL">#{instrumentSounds['CYMBAL'].getSound()}</prop>
                <prop key="HARMONICA">#{instrumentSounds['HARMONICA'].getSound()}</prop>
                <prop key="SAXOPHONE">#{instrumentSounds['SAXOPHONE'].getSound()}</prop>
                <prop key="PIANO">#{instrumentSounds['PIANO'].getSound()}</prop>
            </props>
        </property>
    </bean>

    <bean id="hank4" class="com.springinaction.springidol.performers.OneManLightestBand"
          p:sounds="#{instrumentSounds.![value.sound]}">
        <constructor-arg value="hank4@gmail.com"/>
    </bean>

    <bean id="sonnet29" class="com.springinaction.springidol.artifacts.Sonnet29"/>

    <bean id="knife" class="com.springinaction.springidol.artifacts.Knife" scope="prototype"/>

    <bean id="saxophone" class="com.springinaction.springidol.instruments.ContestInstrument"
          p:instrumentSound="#{instrumentSounds['SAXOPHONE']}"/>

    <bean id="piano" class="com.springinaction.springidol.instruments.ContestInstrument"
          p:instrumentSound="#{instrumentSounds['PIANO']}"/>

    <bean id="cymbal" class="com.springinaction.springidol.instruments.ContestInstrument"
          p:instrumentSound="#{instrumentSounds['CYMBAL']}"/>

    <bean id="guitar" class="com.springinaction.springidol.instruments.Guitar"
          p:instrumentSound="#{instrumentSounds['GUITAR']}"/>

    <bean id="harmonica" class="com.springinaction.springidol.instruments.ContestInstrument"
          p:instrumentSound="#{instrumentSounds['HARMONICA']}"/>

    <bean id="theStage" class="com.springinaction.springidol.Stage" factory-method="getInstance"
          p:stageName="Carnegie Hall USA Special"/>

    <bean id="songSelector" class="com.springinaction.springidol.SongSelector" factory-method="getInstance"/>

    <bean id="ticketExtra" class="com.springinaction.springidol.Ticket" scope="prototype"
          p:ticketNo="#{ticketNo}">
        <constructor-arg value="#{theStage.stageName matches '.*USA.*'}"/>
    </bean>

    <bean id="ticketNormal" class="com.springinaction.springidol.Ticket" scope="prototype"
          p:ticketNo="#{ticketNo}">
        <constructor-arg value="#{theStage.stageName matches '.*PKiN.*'}"/>
    </bean>

    <bean id="ticketCounter" class="com.springinaction.springidol.TicketCounter"/>

    <bean id="ticketNo" factory-bean="ticketCounter" factory-method="getNextNumber"
          lazy-init="true"/>
</beans>